/*--------------------------
		global
--------------------------*/
* {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #fff;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: #292929;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

nav,
header,
article,
section,
footer {
	display: block;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}



/*--------------------------
		nav
--------------------------*/
.logo {
	padding: 5px 0 0 10px;
	display: block;
	float: left;
}

nav {
	background: #4C4643;
}

nav ul {
	float: right;
	margin: 35px 5px 0 0;
	list-style: none;
}


nav li {
	float: left;
	padding-right: 30px;
}

nav a {
	text-decoration: none;
}


/*--------------------------
		header
--------------------------*/
header {
	background: #222;
	padding: 5%;
}

header:after {
	clear: both;
}

.header {
	width: 70%;
	margin: auto;

}

header h1 {
	color: #fff;
	float: left;
	padding: 5% 0;
	width: 40%;
}

header img {
	float: right;
	width: 60%;
	max-width: 424px;
}



/*--------------------------
		subnav
--------------------------*/
.subnav {
	background: #292929;
	padding: 25px 0;
}

.subnav ul {
	float: right;
	width: 90%;
	margin: auto;
	list-style: none;
}

.subnav li {
	float: left;
	padding-right: 30px;
}

.subnav a:link,
.subnav a:visited {
	text-decoration: none;
	padding: 15px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.subnav a:hover,
.subnava a:active {
	background: #9B5A4F;
	color: #454546;
}


/*--------------------------
		main
--------------------------*/
article {
	background: #222;
}

.main {
	width: 70%;
	margin: auto;
	padding: 25px 0;
}


/*--------------------------
		footer
--------------------------*/
.footer {
	background: #292929;
	border-top: 1px solid #4C4643;
}

footer h3 {
	float: left;
	margin-left: 25px;
}

footer ul {
	float: right;
	margin: 13px 25px 0 0;
	list-style: none;	
}

footer li {
	float: left;
	margin-right: 15px;
}


















