body {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: center;
	padding: 0;
	margin: 0;
	background-image: url('../img/body-background.jpg');
	background-repeat: repeat-x;
	background-color: #38322C;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
}
#container {
	position: relative;
	top: -26px;
	width: 941px;
	margin: 0px auto;
	padding: 0;
}
#home-container {
	position: relative;
	top: -26px;
	width: 941px;
	margin: 0px auto;
	padding: 339px 0 0 0;
}
#blog-container {
	position: relative;
	top: -26px;
	width: 941px;
	margin: 0px auto;
	padding: 339px 0 0 0;
}
#right-wrapper a, #right-wrapper a:visited {
	border: 0;
}
#right-wrapper a:hover {
	border: 0;
}
/* HEADER */

#header {
	width: 100%;
	height: 41px;
	clear: both;
	background-image: url('../img/header-background.jpg');
	background-repeat: repeat-x;
}
#header-content {
	width: 941px;
	height: 41px;
	position: relative;
	margin: 0px auto;
}
#header-logo {
	position: absolute;
	top: 2px;
	left: -4px;
	width: 305px;
	height: 35px;
}
#header-logo img {
	width: 305px;
	height: 35px;
	margin: 0;
	padding: 0;
	border: 0;
}
#logo {
	position: absolute;
	top: 279px;
	left: -62px;
	width: 124px;
	height: 120px;
	z-index: 1200;
}
#logo img {
	width: 124px;
	height: 120px;
	margin: 0;
	padding: 0;
	border: 0;
}
/* NAVIGATION */

#header-menu {
	position: relative;
	width: 941px;
	height: 26px;
	margin: 0px auto;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #38322C;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	z-index: 1000;
}
#nav {
	height: 26px;
	padding: 0;
	margin: 0;
	list-style: none;
}
#nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#nav a {
	display: block;
	width: 233px;
	color: #38322C;
	text-decoration: none;
	background: url('../img/header-menu-background.png') repeat;
}
#nav ul a {
	background-image: none;
	letter-spacing: 1px;
	color: #9B5102;
}
#nav li {
	float: left;
	width: 233px;
	border: 1px solid #ECEDEC;
	line-height: 24px;
}
#nav ul li {
	float: left;
	width: 234px;
	border: 0px;
	line-height: 24px;
}
#nav li.current_page_item {
	background-color: #FFFFFF;
}
#nav ul li.current_page_item {
	background-color: #585552;
}
#nav ul li.current_page_item a {
	color: #FFFFFF;
}
#nav li ul {
	position: absolute;
	width: 233px;
	left: -999px;
	font-size: 10px;
	font-weight: bold;
}
#nav li:hover {
	background-color: #FFFFFF;
}
#nav ul li:hover {
	background-color: #585552;
}
#nav ul li a:hover {
	color: #FFFFFF;
}
#nav li:hover ul {
	left: auto;
	background-color: #FFFFFF;
	z-index: 1000;
}
#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	background-color: #FFFFFF;
}
/* CONTENT */


#content {
	width: 580px;
	padding: 0;
	margin: 0;
	float: left;
	text-align: left;
}
.post_meta {
	width: 100%;
	height: 19px;
	line-height: 19px;
	text-align: left;
	padding: 0;
	margin: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #333333;
}
.post_meta h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
	color: #585552;
	text-transform: uppercase;
}
.post_content {
	font-size: 12px;
	color: #666666;
	text-align: left;
	padding-bottom: 10px;
	margin: 0 0 20px 0;
	line-height: 160%;
	border-bottom: 1px solid #999999;
}
.post_content a:link, .post_content a:visited {
	color: #666666;
	text-decoration: underline;
}
.post_content a:hover, .post_content a:active {
	color: #000000;
	text-decoration: underline;
}
.post_content p {
	padding: 5px 20px 5px 20px;
	margin: 0;
}
.post_content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.post_content h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.post_content h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.post_content h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.post_image {
	width: 580px;
	margin: 0;
	padding: 0;
}
.post_image img {
	width: 580px;
	margin: 0 0 16px 0;
	padding: 0;
	border: 0;
}
.error {
	text-align: left;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: normal;
	margin: 50px 0 500px 0;
}
img.wp-smiley {
	float: none;
	width: 15px;
	height: 15px;
}
/* HOMEPAGE */

#homepage-container {
	position: relative;
	width: 941px;
	min-height: 625px;
	margin: 0 0 -15px 0;
	padding: 0;
	background-image: url('../img/homepage-background.png');
	letter-spacing: 1px;
}
#left-wrapper {
	width: 239px;
	float: left;
	margin: 32px 0 22px 79px;
	padding: 0;
}
.latest_post_meta {
	line-height: 21px;
	text-align: left;
	padding: 0;
	margin: 20px 0 0 0;
	color: #38322C;
	text-transform: uppercase;
}
.latest_post_meta p {
	margin: 0;
	padding: 0;
}
.latest_post_meta h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 11px 0;
	padding: 0;
	text-align: left;
	color: #9B5102;
	letter-spacing: 1.5px;
	text-transform: none;
}
.latest_post_meta h3 a:link, .latest_post_meta h3 a:visited {
	color: #9B5102;
	text-decoration: none;
}
.latest_post_meta h3 a:hover, .latest_post_meta h3 a:active {
	color: #9B5102;
	text-decoration: underline;
}
.latest-post {
	margin: 0;
	padding: 0;
	clear: both;
	border-bottom: 2px solid #EBEBEA;
}
.latest_post_content {
	font-size: 12px;
	color: #585552;
	text-align: left;
	padding: 0;
	margin: 0;
	line-height: 21px;
}
.latest_post_content a:link, .latest_post_content a:visited {
	color: #585552;
	text-decoration: underline;
}
.latest_post_content a:hover, .latest_post_content a:active {
	color: #585552;
	text-decoration: underline;
}
.latest_post_content p {
	padding: 0;
	margin: 0 0 11px 0;
}
.latest_post_content ul {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0;
	line-height: 150%;
}
.latest_post_content ul li {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 15px;
	padding: 0;
}
.latest_post_content ul ul li {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 25px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
#right-wrapper {
	position: relative;
	width: 410px;
	float: left;
	margin: 37px 0 22px 147px;
	padding: 0;
}
.homepage-image {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
}
.homepage-image img {
	margin: 0;
	padding: 0;
	border: 0;
}
.homepage_meta {
	line-height: 31px;
	text-align: left;
	padding: 0;
	margin: 0;
}
.homepage_meta h1 {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #392717;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.homepage_content {
	font-size: 12px;
	color: #38322C;
	text-align: left;
	padding: 0;
	margin: 144px 0 0 0;
	line-height: 21px;
}
.homepage_content a:link, .homepage_content a:visited {
	color: #38322C;
	text-decoration: underline;
}
.homepage_content a:hover, .homepage_content a:active {
	color: #000000;
	text-decoration: underline;
}
.homepage_content p {
	padding: 0;
	margin: 9px 0 8px 0;
}
.homepage_content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.homepage_content h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.homepage_content h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.homepage_content h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
/* BLOG */

#blog-content-container {
	position: relative;
	width: 941px;
	margin: 0 0 -15px 0;
	padding: 0;
	background-image: url('../img/homepage-background.png');
	letter-spacing: 1px;
}
#blog-left-wrapper {
	width: 239px;
	float: left;
	margin: 27px 0 22px 79px;
	padding: 0;
	line-height: 20px;
	text-align: left;
}
#blog-left-wrapper h3 {
	margin: 27px 0 0 0;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #38322C;
}
#blog-left-wrapper ul {
	padding: 5px 0 23px 0;
	margin: 0;
	border-bottom: 1px solid #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #9B5102;
	list-style-position: inside;
	line-height: 26px;
}
#blog-left-wrapper li {
	margin: 0;
	padding: 0;
}
#blog-left-wrapper a:link, #blog-left-wrapper a:visited {
	color: #9B5102;
	text-decoration: none;
}
#blog-left-wrapper a:hover, #blog-left-wrapper a:active {
	color: #9B5102;
	text-decoration: underline;
}
#blog-left-wrapper p {
	padding: 13px 0 23px 0;
	margin: 0;
	border-bottom: 0px;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #585552;
	line-height: 20px;
	letter-spacing: 0.5px;
}
#blog-left-wrapper p img {
	width: 67px;
	height: 66px;
	margin: -8px 6px 0 0;
	padding: 0;
	border: 0;
	float: left;
}
#blog-right-wrapper {
	position: relative;
	width: 410px;
	float: left;
	margin: 37px 0 22px 147px;
	padding: 0;
}
.blog-image {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	padding: 0;
}
.blog-image img {
	margin: 0;
	padding: 0;
	border: 0;
}
.blog_meta_top {
	line-height: 21px;
	text-align: left;
	padding: 0 0 11px 0;
	margin: 82px 0 0 0;
	color: #585552;
}
.blog_meta_top h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #38322C;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.blog_meta {
	line-height: 21px;
	text-align: left;
	padding: 56px 0 11px 0;
	margin: 0;
	color: #585552;
	border-top: 1px solid #FFFFFF;
}
.blog_meta h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #38322C;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.blog_meta h1 a:link, .blog_meta h1 a:visited {
	color: #38322C;
	text-decoration: none;
}
.blog_meta h1 a:hover, .blog_meta h1 a:active {
	color: #38322C;
	text-decoration: underline;
}
.blog_meta p.case {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.blog_meta p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.blog_meta p a:link, .blog_meta p a:visited {
	color: #9B5102;
	text-decoration: none;
}
.blog_meta p a:hover, .blog_meta p a:active {
	color: #9B5102;
	text-decoration: underline;
}
.blog_meta p.case a:link, .blog_meta p.case a:visited {
	color: #585552;
	text-decoration: none;
}
.blog_meta p.case a:hover, .blog_meta p.case a:active {
	color: #585552;
	text-decoration: underline;
}
.post {
	margin: 82px 0 0 0/*0 0 47px 0*/;
	padding: 0;
	clear: both;
	position: relative;
}
.blog_content {
	font-size: 12px;
	color: #38322C;
	text-align: left;
	padding: 0;
	margin: 0;
	line-height: 21px;
}
.blog_content a:link, .blog_content a:visited {
	color: #38322C;
	text-decoration: underline;
}
.blog_content a:hover, .blog_content a:active {
	color: #000000;
	text-decoration: underline;
}
.blog_content p {
	padding: 0;
	margin: 9px 0 8px 0;
}
.blog_content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.blog_content h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.blog_content h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #9B5102;
	text-transform: uppercase;
}
.blog_content h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.sticky-post {
	position: relative;
	margin: 82px 0 47px 0;
	padding: 0;
	clear: both;
}
.case-alert-image {
	width: 110px;
	height: 30px;
	position: absolute;
	top: 2px; /*top: 84px;*/
	right: 0px;
	margin: 0;
	padding: 0;
}
.case-alert-image img {
	margin: 0;
	padding: 0;
	border: 0;
}
.case-alert-image2 {
	width: 110px;
	height: 30px;
	position: absolute;
	top: 2px;
	right: 0px;
	margin: 0;
	padding: 0;
}
.sticky_post_meta {
	line-height: 21px;
	text-align: left;
	padding: 56px 0 11px 0;
	margin: 0;
	color: #585552;
	border-top: 1px solid #FFFFFF;
}
.sticky_post_meta h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #38322C;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.sticky_post_meta h1 a:link, .sticky_post_meta h1 a:visited {
	color: #38322C;
	text-decoration: none;
}
.sticky_post_meta h1 a:hover, .sticky_post_meta h1 a:active {
	color: #38322C;
	text-decoration: underline;
}
.sticky_post_meta p.case {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.sticky_post_meta p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.sticky_post_meta p a:link, .sticky_post_meta p a:visited {
	color: #9B5102;
	text-decoration: none;
}
.sticky_post_meta p a:hover, .sticky_post_meta p a:active {
	color: #9B5102;
	text-decoration: underline;
}
.sticky_post_meta p.case a:link, .sticky_post_meta p.case a:visited {
	color: #585552;
	text-decoration: none;
}
.sticky_post_meta p.case a:hover, .sticky_post_meta p.case a:active {
	color: #585552;
	text-decoration: underline;
}
.navigation {
	clear: both;
	margin: 35px 0 11px 0;
}
.navigation .alignleft {
	position: relative;
	top: 0px;
	left: -45px;
}
.navigation .alignright {
	position: relative;
	top: 0px;
	right: -43px;
}
/* PAGE */

#page-container {
	position: relative;
	width: 477px;
	min-height: 625px;
	float: right;
	margin: 32px 0 -15px 0;
	background-image: url('images/page-background.png');
	border: 1px solid #FFFFFF;
	letter-spacing: 1px;
}
.header-image {
	position: absolute;
	top: 37px;
	right: 61px;
	margin: 0;
	padding: 0;
}
.header-image img {
	margin: 0;
	padding: 0;
	border: 0;
}
.page_meta {
	line-height: 19px;
	text-align: left;
	padding: 0;
	margin: 124px 65px 0 75px;
}
.page_meta h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #585552;
	text-transform: uppercase;
}
.page_content {
	font-size: 12px;
	color: #38322C;
	text-align: left;
	padding: 0;
	margin: 0 65px 33px 75px;
	line-height: 21px;
}
.page_content a:link, .page_content a:visited {
	color: #38322C;
	text-decoration: underline;
}
.page_content a:hover, .page_content a:active {
	color: #000000;
	text-decoration: underline;
}
.page_content p {
	padding: 0;
	margin: 9px 0 8px 0;
}
.page_content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.page_content h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.page_content h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #9B5102;
	text-transform: uppercase;
}
.page_content h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
/* SEARCH FORM */

#search {
	width: 200px;
	height: 27px;
	position: absolute;
	top: 7px;
	right: 0px;
}
#search_form {
	width: 200px;
	margin: 0;
	padding: 0;
}
.search_input {
	float: left;
	width: 146px;
	height: 19px;
	background-image: url('../img/search-input-background.jpg');
	background-repeat: no-repeat;
	padding: 8px 11px 0 11px;
	margin: 0;
	font-size: 11px;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: 0;
}
.search_button {
	float: right;
	width: 32px;
	height: 27px;
	margin: 0;
	padding: 0;
	border: 0px;
	background-image: url('../img/search-button-background.jpg');
	background-repeat: no-repeat;
}
div.wpcf7-validation-errors, .div.wpcf7-mail-sent-ok, .div.wpcf7-mail-sent-ng, .div.wpcf7-spam-blocked {
	background-color: #231F1B;
}
div.wpcf7-response-output {
	width: 275px;
}
/* SEARCH SITE */

.search_content_top {
	font-size: 12px;
	color: #38322C;
	text-align: left;
	padding: 0;
	margin: 13px 65px 33px 75px;
	line-height: 21px;
}
.search_content {
	font-size: 12px;
	color: #38322C;
	text-align: left;
	padding: 0;
	margin: 0 65px 73px 75px;
	line-height: 21px;
}
.search_content a:link, .search_content a:visited {
	color: #9B5102;
	text-decoration: none;
}
.search_content a:hover, .search_content a:active {
	color: #9B5102;
	text-decoration: underline;
}
.search_content p {
	padding: 0;
	margin: 9px 0 8px 0;
}
.search_content h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.search_content h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
.search_content h3 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
	color: #9B5102;
}
.search_content h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
	color: #9B5102;
	text-transform: uppercase;
}
/* FOOTER */

#footer {
	width: 100%;
	height: 515px;
	clear: both;
	background: #23201b url('../img/footer-background.jpg') repeat-x;
}
#footer-content {
	position: relative;
	width: 941px;
	height: 314px;
	margin: 0px auto;
}
#footer h3 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1.5px;
	margin: 17px 0px 11px 0;
	padding: 0;
}
#contact-us {
	width: 465px;
	height: 215px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#contact-form {
	width: 406px;
}
#contact-form-left {
	float: left;
	width: 201px;
}
#contact-form-right {
	float: right;
	width: 201px;
}
#contact-form-bottom {
	width: 406px;
	clear: both;
}
#contact-form-left input {
	width: 176px;
	height: 18px;
	margin: 4px 0 3px 0;
	padding: 9px 12px 0 12px;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url('../img/contact-form-input.jpg');
	background-repeat: no-repeat;
	border: 0;
	letter-spacing: 1px;
}
#contact-form-right textarea {
	width: 176px;
	height: 88px;
	margin: 4px 0 3px 0;
	padding: 9px 12px 0 12px;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url('../img/contact-form-textarea.jpg');
	background-repeat: no-repeat;
	border: 0;
	letter-spacing: 1px;
	font-family: Arial;
}
#contact-form-bottom input {
	width: 60px;
	height: 25px;
	float: right;
	margin: 5px 0 0 0;
	padding: 0;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	background-image: url('../img/contact-form-button.jpg');
	background-repeat: no-repeat;
	border: 0;
	letter-spacing: 0.5px
}
#required-field {
	margin: 8px 0 0 0;
	padding: 0;
	float: left;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 1px;
}
#visit-us {
	width: 476px;
	height: 215px;
	position: absolute;
	top: 0px;
	left: 465px;
}
#visit-us-map {
	width: 179px;
	height: 137px;
	margin: 5px 0 0 0;
	float: left;
}
#visit-us-map img {
	width: 179px;
	height: 137px;
	margin: 0;
	padding: 0;
	border: 0;
}
#visit-us-content {
	margin: 0 0 0 25px;
	padding: 0;
	float: left;
}
#visit-us-content p {
	font-size: 12px;
	color: #FFFFFF;
	text-align: left;
	line-height: 21px;
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
}
#visit-us-content a:link, #visit-us-content a:visited {
	color: #9B5102;
	text-decoration: underline;
}
#visit-us-content a:hover, #visit-us-content a:active {
	color: #9B5102;
	text-decoration: underline;
}
.map {
	color: #9B5102;
}
#disclaimer {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 380px;
	left: 0px;
}
#disclaimer p {
	font-size: 10px;
	color: #585552;
	line-height: 18px;
	margin: 20px 0 0 0;
	padding: 0;
	text-align: left;
	letter-spacing: 0.5px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.end {
	clear: both;
}














/*--------------------------
		global
--------------------------
* {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #fff;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: #292929;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

nav,
header,
article,
section,
footer {
	display: block;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-mail, .icon-linkedin, .icon-twitter, .icon-facebook, .icon-googleplus, .icon-phone, .icon-earth {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mail:before {
	content: "\e004";
}
.icon-linkedin:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-facebook:before {
	content: "\e003";
}
.icon-googleplus:before {
	content: "\e000";
}
.icon-phone:before {
	content: "\e005";
}
.icon-earth:before {
	content: "\e006";
}

--------------------------
		nav
--------------------------
.logo {
	padding: 5px 0 0 10px;
	display: block;
	float: left;
}

nav {
	background: #4C4643;
}

nav ul {
	float: right;
	margin: 35px 5px 0 0;
	list-style: none;
}


nav li {
	float: left;
	padding-right: 30px;
}

nav a {
	text-decoration: none;
}


--------------------------
		header
--------------------------
header {
	background: #222;
	padding: 5%;
}

header:after {
	clear: both;
}

.header {
	width: 70%;
	margin: auto;

}

header h1 {
	color: #fff;
	float: left;
	padding: 5% 0;
	width: 40%;
}

header img {
	float: right;
	width: 60%;
	max-width: 424px;
}



--------------------------
		subnav
--------------------------
.subnav {
	background: #292929;
	padding: 25px 0;
}

.subnav ul {
	float: right;
	width: 90%;
	margin: auto;
	list-style: none;
}

.subnav li {
	float: left;
	padding-right: 30px;
}

.subnav a:link,
.subnav a:visited {
	text-decoration: none;
	padding: 15px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.subnav a:hover,
.subnava a:active {
	background: #9B5A4F;
	color: #454546;
}


--------------------------
		main
--------------------------
article {
	background: #222;
}

.main {
	width: 70%;
	margin: auto;
	padding: 25px 0;
}


--------------------------
		footer
--------------------------
.footer {
	background: #292929;
	border-top: 1px solid #4C4643;
}

footer h3 {
	float: left;
	margin-left: 25px;
}

footer ul {
	float: right;
	margin: 13px 25px 0 0;
	list-style: none;	
}

footer li {
	float: left;
	margin-right: 15px;
}

--*/















